#Development testing
pylint~=2.3.0
pycodestyle~=2.4.0
coverage~=4.5.1
pytest~=5.1.2
ipython~=7.10.0
#ML
scikit-learn~=0.21.2
pandas~=0.24.2
numpy~=1.16.4
joblib~=0.13.2

#API
flask~=1.1.1
flask-restplus~=0.13.0
requests~=2.18.4